## Introduction

## Setup

In [6]:
### Load the required packages

import pandas as pd 
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [7]:
### Load the dataset 
df = pd.read_csv('D:/Dataset/Side_project_Duplicate_question_detector/questions.csv', encoding='utf-8')

#### Overview of the dataset

In [8]:
print('Shape:')
print(df.shape)

print('\nSome examples:')
print(df.head())

print('\nInformation:')
print(df.info())

print('\nAny NAs?')
print(np.sum(df.isnull()))

Shape:
(404351, 6)

Some examples:
   id  qid1  qid2                                          question1  \
0   0     1     2  What is the step by step guide to invest in sh...
1   1     3     4  What is the story of Kohinoor (Koh-i-Noor) Dia...
2   2     5     6  How can I increase the speed of my internet co...
3   3     7     8  Why am I mentally very lonely? How can I solve...
4   4     9    10  Which one dissolve in water quikly sugar, salt...

                                           question2  is_duplicate
0  What is the step by step guide to invest in sh...             0
1  What would happen if the Indian government sto...             0
2  How can Internet speed be increased by hacking...             0
3  Find the remainder when [math]23^{24}[/math] i...             0
4            Which fish would survive in salt water?             0

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404351 entries, 0 to 404350
Data columns (total 6 columns):
id              404351 non-null int64
qid1            404351 non-null int64
qid2            404351 non-null int64
question1       404351 non-null object
question2       404349 non-null object
is_duplicate    404351 non-null int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB
None

Any NAs?
id              0
qid1            0
qid2            0
question1       0
question2       2
is_duplicate    0
dtype: int64

There are only two NAs in this dataset, we can consider removing them since they account for very little part in this dataset.

In [9]:
### Target variable 

print('Distribution:')
print(df['is_duplicate'].value_counts())

print('\nDistribution in percentage:')
print(df['is_duplicate'].value_counts().apply(lambda x: x/len(df)*100))

Distribution:
0    255045
1    149306
Name: is_duplicate, dtype: int64

Distribution in percentage:
0    63.07515
1    36.92485
Name: is_duplicate, dtype: float64

Since the distribution of the target variable's classes are not so unbalanced, we can just move on

#### Remove the useless columns

In [12]:
### The columns qid1 and qid2 can be removed
df.drop(['qid1', 'qid2'], axis=1, inplace=True)

print(df.head()) # check the removal

   id                                          question1  \
0   0  What is the step by step guide to invest in sh...
1   1  What is the story of Kohinoor (Koh-i-Noor) Dia...
2   2  How can I increase the speed of my internet co...
3   3  Why am I mentally very lonely? How can I solve...
4   4  Which one dissolve in water quikly sugar, salt...

                                           question2  is_duplicate
0  What is the step by step guide to invest in sh...             0
1  What would happen if the Indian government sto...             0
2  How can Internet speed be increased by hacking...             0
3  Find the remainder when [math]23^{24}[/math] i...             0
4            Which fish would survive in salt water?             0

## EDA

#### The differences of length of each duplicate article

In [ ]:
### Counstruct the tokenized object for each article 

print(df['question1'][0])
print(df['question2'][0])

from nltk.tokenize import word_tokenize

df['q1_token'] = df['question1'].apply(lambda x: word_tokenize(x))
df['q2_token'] = df['question2'].apply(lambda x: word_tokenize(x))

print(df['q1_token'][0])
print(df['q2_token'][0])

What is the step by step guide to invest in share market in india?
What is the step by step guide to invest in share market?